package {{ packageName }};

public class {{ className }}{% if extends %} extends {{ extends }}{% endif %} {

    {% for attribute in attributes %}
    {% if attribute.name and attribute.type %}
    protected {{ attribute.type }} {{ attribute.name }};
    {% endif %}
    {% endfor %}

    {% for attribute in attributes %}
    {% if attribute.name and attribute.type %}
    {{ attribute.annotation }}
    public {{ attribute.type }} get{{ attribute.name[0] | upper + attribute.name[1:] }}() {
        return this.{{ attribute.name }};
    }

    public void set{{ attribute.name[0] | upper + attribute.name[1:] }}({{ attribute.type }} value) {
        this.{{ attribute.name }} = value;
    }
    {% endif %}
    {% endfor %}
}
