package {{ packageName }};

import javax.xml.bind.JAXBElement;
import javax.xml.namespace.QName;

@XmlRegistry
public class ObjectFactory {

    {% for mapping in mappings %}
    private static final QName _{{ mapping.complex_type }}{{ mapping.element_name_pascal }}_QNAME = New QName("http://autosar.org/schema/r4.0", "{{ mapping.element_name }}");
    {% endfor %}

    public ObjectFactory() {
	}

    {% for mapping in mappings %}
    @XmlElementDecl(namespace = "http://autosar.org/schema/r4.0",name = "{{ mapping.element_name }}", scope = {{ mapping.complex_type }}.class )
    public JAXBElement<{{ mapping.element_type }}> create{{ mapping.complex_type }}{{ mapping.element_name_pascal }} ( {{ mapping.element_type }} value) {
        return new JAXBElement<>(_{{ mapping.complex_type }}{{ mapping.element_name_pascal }}_QNAME, {{ mapping.element_type }}.class, {{ mapping.complex_type }}.class, value);
    }
    {% endfor %}

}
