package {{ packageName }};

@XmlType(name="{{ xmlTypeName }}")
@XmlEnum
public enum {{ className }} {

    {% for enum in enumerations %}
    @XmlEnumValue("{{ enum }}")
    {{ enum.replace('-', '_').upper() }}("{{ enum }}");{% if not loop.last %},{% endif %}
    {% endfor %}

    private final java.lang.String value;

    {{ className }}(java.lang.String v) {
        value = v;
    }

    public java.lang.String value() {
        return value;
    }

    public static {{ className }} fromValue(java.lang.String v) {
        for ({{ className }} c: {{ className }}.values()) {
            if (c.value.equals(v)) {
                return c;
            }
        }
        throw new IllegalArgumentException(v);
    }

}
