package {{ packageName }};

import javax.xml.bind.annotation.XmlElement;
import javax.xml.bind.annotation.XmlAttribute;
import javax.xml.bind.annotation.XmlValue;
import javax.xml.bind.annotation.XmlRootElement;

public class {{ className }}{% if extends %} extends {{ extends }}{% endif %} {

    {% for attribute in attributes %}
    protected {{ attribute.type }} {{ attribute.name }};
    {% endfor %}

    {% for attribute in attributes %}
    {{ attribute.annotation }}
    public {{ attribute.type }} get{{ attribute.name | capitalize }}() {
        return this.{{ attribute.name }};
    }

    public void set{{ attribute.name | capitalize }}({{ attribute.type }} value) {
        this.{{ attribute.name }} = value;
    }
    {% endfor %}

    {% for innerClass in innerClasses %}
    public static class {{ innerClass.InnerClassName }}{% if innerClass.extendsClass %} extends {{ innerClass.extendsClass }}{% endif %} {
        {% for innerAttr in innerClass.InnerClassAttributes %}
        protected {{ innerAttr.type }} {{ innerAttr.name }};
        {% endfor %}

        {% for innerAttr in innerClass.InnerClassAttributes %}
        {{ innerAttr.annotation }}
        public {{ innerAttr.type }} get{{ innerAttr.name | capitalize }}() {
            return this.{{ innerAttr.name }};
        }

        public void set{{ innerAttr.name | capitalize }}({{ innerAttr.type }} value) {
            this.{{ innerAttr.name }} = value;
        }
        {% endfor %}

        {% if innerClass.innerInnerClass %}
        {% for nestedClass in innerClass.innerInnerClass %}
        public static class {{ nestedClass.InnerClassName }}{% if nestedClass.extendsClass %} extends {{ nestedClass.extendsClass }}{% endif %} {
            {% for nestedAttr in nestedClass.InnerClassAttributes %}
            protected {{ nestedAttr.type }} {{ nestedAttr.name }};
            {% endfor %}

            {% for nestedAttr in nestedClass.InnerClassAttributes %}
            {{ nestedAttr.annotation }}
            public {{ nestedAttr.type }} get{{ nestedAttr.name | capitalize }}() {
                return this.{{ nestedAttr.name }};
            }

            public void set{{ nestedAttr.name | capitalize }}({{ nestedAttr.type }} value) {
                this.{{ nestedAttr.name }} = value;
            }
            {% endfor %}
        }
        {% endfor %}
        {% endif %}
    }
    {% endfor %}
}
